<div class = "contact_body">
  <div class = "contact_new">
   <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
           <div class="is-size-2 mb-3">お問合せ内容が送信されました</div>
           <div class = "done"></div>
        </div>
     </div>
   </div>
  </div>
</div>