<%= @contact.name %> 様 から問い合わせがありました。<br>
【メールアドレス】：<%= @contact.email %><br>

【題名】<br>
<span style="white-space: pre-wrap;"><%= @contact.subject %></span>
【お問い合わせ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span>