<div class="container">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class = "top-message">
      <font color="black">ようこそ快適ワークへ</font><br>
      <font color="black">このサイトはモートワークに利用しやすい場所を投稿したり店名か場所のキーワードで検索し投稿されたものを評価できるレビューサイトです。</font>
      <div class="top_space"><%= image_tag asset_path('icon.jpeg'), class:"med-pic" %></div>
    </div>
  </div>
</div>
