<div class="container">
<div class="columns is-centered">
<div class="column is-5">
  <p>ようこそ快適ワークへ</p>
  <p>このサイトはリモートワークに利用しやすい場所を現在地、wifi設備、電源の項目で検索しランキング形式で探したり、またリモートワークに利用しやすい場所を投稿したり、投稿されたものを評価できるレビューサイトです。</p>
  <div class = "top_icon"></div>
</div>
</div>
</div>
