<div class="container">
  <div class="columns is-centered">
    <div class="column is-5">
      <div class = "top-message">
      <font color="black">ようこそ快適ワークへ</font><br>
      <font color="black">このサイトはモートワークに利用しやすい場所を投稿したり店名か場所のキーワードで検索し投稿されたものを評価できるレビューサイトです。</font>
      <div class = "top_icon"></div>
    </div>
  </div>
</div>
