<div class="container">
  <div class="columns is-centered">
    <div class="column is-6">
      <div class = "top-message">
      <font color="blue"><div class="is-size-3"><b>ようこそ快適ワークへ</b></div></font><br>
      <font color="blue"><div class="is-size-4 mb-1"><b>このサイトはモートワークに利用しやすい場所を投稿したり店名か場所のキーワードで検索し投稿されたものを評価できるレビューサイトです。</b></div></font>
       <div class="top_space"><%= image_tag asset_path('icon.jpeg'), class:"med-pic" %></div>
        </div>
    </div>
  </div>
</div>
