/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bulma";

#header_visual {
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
}

.fa-asymmetrik{
  color: #80ffdb;
}

#header_visual2 {
  padding: 20px 50px;
}

li {
  display:inline-block;
}

#foooter_visual {
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
  background-blend-mode: screen;
  text-align: center;
}

.fa-facebook-square {
  margin: 0px 15px;
}

.fa-twitter-square {
  margin: 0px 15px;
}

.fa-instagram {
  margin: 0px 15px;
}

.fa-envelope {
  margin: 0px 15px;
}

.navbar {
  margin-bottom: 0px!important;
  border-radius: 0px!important;
  border: 0px solid!important;
}


.mt-6 {
  margin-top: 0rem !important;
}

.footer {
    background-color: #fafafa;
    padding: 0rem 0rem 0rem!important;
}


.notification:not(:last-child){
   margin-bottom: 0;
}


main {
 min-height: 100vh;
 color : white;
 background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
 font-family: sans-serif;
}


.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}


.pagination>li>a:hover {
  border-radius: 15px;
}

.profile_page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}

.space {
  padding-left: 30px;
}

.image {
  display: flex;
  width: 100%;
  height: 100%;
}

.body_top {
  padding-top: 50px;
}

.background_image2 {
 min-height: 100vh;
 color : black;
 background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
 font-family: sans-serif;
}

.notice {
  background-color: green;
  color: #white;
  text-align: center;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
  margin-bottom: 0px!important;
}

.edit_top_spase {
  padding: 20px 0px;
}

 .image2 {
   width: 100%;
   margin: 10px 0px;
   border : solid 1px;
   text-align: center;
}