.contact_require {
  position: relative;
  padding: 0.05em 0.01em;
  background-color: red;
  color: white;
  font-weight: lighter;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.56);
}

.contact_new {
  padding-top: 100px;
}