// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star {
  padding-left: 20px;
}

.star2 {
  padding-top: 5px; 
  padding-left: 20px;
}