// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-message {
    margin-top: 50px;
}

.top_icon {
    background-image: image-url("icon.jpeg");
    width: 640px;
    height: 640px;
    background-size: 640px 640px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
