// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-message {
    margin-top: 50px;
}

.top_icon {
    background-image: url(icon.jpeg);
    width: 510px;
    height: 510px;
    background-size: 510px 510px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
