// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_icon {
    background-image: url(icon.jpeg);
    width: 500px;
    height: 500px;
    background-size: 500px 500px;
}
