// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-box .ratings .fa{
  font-size: 30px;
  color:#ffcc00;
  cursor: pointer;
}

.main-rating {
  display: flex;
}

.rating-value-display {
  font-size: 20px;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}
.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}
.average-score-display {
  font-size: 16px;
}

.comment {
  word-break: break-all;
}

.review_index {
  padding-top: 40px;
}

.no_review {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.review_body {
 min-height: 100vh;
 color : white;
 background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
 font-family: sans-serif;
}

.review_center {
  padding-top: 150px;
}

.review_center2 {
  padding-top: 150px;
}

.review_space {
  padding-bottom: 50px;
}

.index_star_rating2 {
  padding-bottom: 30px;
  padding-left: 200px;
  transform: scale(2, 2);
}